@font-face {
    font-family: 'Noto Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Noto Sans Regular'), url('/fonts/NotoSans/NotoSans-Regular.woff') format('woff');
}


@font-face {
    font-family: 'Noto Sans Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Noto Sans Italic'), url('/fonts/NotoSans/NotoSans-Italic.woff') format('woff');
}


@font-face {
    font-family: 'Noto Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Noto Sans Bold'), url('/fonts/NotoSans/NotoSans-Bold.woff') format('woff');
}


@font-face {
    font-family: 'Noto Sans Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Noto Sans Bold Italic'), url('/fonts/NotoSans/NotoSans-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Pro'), url('/fonts/GothamPro/GothaProReg.woff') format('woff');
}


@font-face {
    font-family: 'Gotham Pro Black';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Pro Black'), url('/fonts/GothamPro/GothaProBla.woff') format('woff');
}


@font-face {
    font-family: 'Gotham Pro Light';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Pro Light'), url('/fonts/GothamPro/GothaProLig.woff') format('woff');
}


@font-face {
    font-family: 'Gotham Pro Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Pro Medium'), url('/fonts/GothamPro/GothaProMed.woff') format('woff');
}


@font-face {
    font-family: 'Gotham Pro Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Pro Light Italic'), url('/fonts/GothamPro/GothaProLigIta.woff') format('woff');
}


@font-face {
    font-family: 'Gotham Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Pro Bold'), url('/fonts/GothamPro/GothaProBol.woff') format('woff');
}


@font-face {
    font-family: 'GothamPro-MediumItalic';
    font-style: normal;
    font-weight: normal;
    src: local('GothamPro-MediumItalic'), url('/fonts/GothamPro/GothamProMediumItalic.woff') format('woff');
}

body {
    font-family: 'Gotham Pro', sans-serif;
    /*background: #eae0cc;*/
}

.article-item .article-body {
    color: #9b9c9e;
}

img {
    width: 100%;
}

p {
    color: #8b80a0;
}

.loader {
    margin: auto;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
}

.loader:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000;
    border-radius: 50%;
    opacity: 0;
    animation: popin 1.5s linear infinite 0s;
}

.loader:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000;
    border-radius: 50%;
    opacity: 0;
    animation: popin 1.5s linear infinite 0.5s;
}

footer#footer {
    background-color: #bbb4cc;
    padding: 15px;
}

.breadcrumb-item {
    font-family: "Gotham Pro Medium", sans-serif;
    text-transform: uppercase;
    color: #64b400;
}

.breadcrumb-item > a {
    color: inherit;
}

.breadcrumb-item.active {
    color: #8b80a0;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: '•';
    vertical-align: top;
}

.container-lg {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#footer .footer-list {
    list-style: none;
    font-size: 16px;
    text-transform: uppercase;
}

#footer .footer-list a {
    color: #8b80a0;
}

/*Hidden selectize-arrow*/
.selectize-input::after {
    visibility: hidden;
}

.build-by {
    padding-left: 40px;
    font-weight: bold;
}

.social-links {
    text-align: right;
}

.social-links .social-link-item {
    display: inline-block;
    padding: 0 5px;
}

.social-links .social-link-item path {
    transition: 0.3s;
}

.social-links .social-link-item:hover path {
    fill: #8d4ed2;
}

.btn-green {
    color: #ffffff !important;
    background: #65b401 !important;
}

#content {
    padding: 20px;
}

input[type="file"] {
    display: none;
}

.tox-statusbar {
    display: none !important;
}

#choose-language {
    color: #65b401;
    margin-top: 5px;
}

#choose-language:hover {
    cursor: pointer;
}

#choose-language li a:hover {
    color: #65b401;
    font-weight: bold;
}

#choose-language .country-flag {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    background: url('/img/flag_sprites.png');
}

#choose-language .country-flag.ru {
    background-position: -62px -10px;
}

#choose-language .country-flag.uk {
    background-position: -10px -62px;
}

#choose-language .country-flag.en {
    background-position: -10px -10px;
}

#choose-language li {
    padding-left: 10px;
}

#header-navbar .nav-link {
    color: #b9b9ba;
    font-size: 24px;
}

#header-navbar .nav-link:after {
    content: "";
    margin: 0 auto;
    display: block;
    width: 15%;
    padding: 2px 0;
    border-bottom: 4px solid #65b401;
    opacity: 0;
    transition: 0.3s;
}

#header-navbar .nav-link:hover:after {
    opacity: 1;
    width: 100%;
}

.tc-header {
    display: block;
    height: auto;
    padding: 1.9375rem 3.125rem 0 3.125rem;
    background-color: #FFF;
    position: relative;
    margin: 0 auto;
}

.tc-header .tc-header-top .tc-header-logo {
    float: left;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/img/logo.png");
    margin: -10px 0 10px 0;
}

.btn-tc {
    border: 1px solid #e6e6e6;
    height: auto;
    line-height: 2.5rem;
    display: -moz-inline-stack;
    display: inline-block;
    box-sizing: border-box;
    color: #cccccc;
    text-transform: uppercase;
    border-radius: 1.25rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: white;
    position: relative;
}

.btn-tc:hover {
    color: #afa9a9;
    text-decoration: none;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #62d474;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #62d474;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #62d474;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #62d474;
}


.tc-header-bottom {
    height: 100px;
}

.tc-header .nav-link {
    text-transform: uppercase;
}

h1.tc-title {
    text-align: center;
    padding: 10px 0 30px 0;
    border-bottom: 1px solid #ccbd9c;
    margin-bottom: 30px;
}

#search {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: #f6f6f6;
    border: none;
}

#search:focus {
    box-shadow: none;
}

#search-button {
    background: #7db633;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
}

.index-index .main-banner {
    background-image: url("/img/main_banner.jpg");
    background-size: cover;
    background-position: 0 60%;
    min-height: 600px;
}

.index-index .about-us-img {
    background-image: url("/img/about_us.png");
    background-position: center top;
    background-size: 100% auto;
    height: 640px;
}

.custom-title {
    color: #8b80a0;
    font-weight: 900;
    font-size: 3rem;
    font-family: 'Gotham Pro Black', sans-serif;
}

.index-index .about-us-block p {
    line-height: 26px;
    font-size: 22px;
}

.index-index .about-us-block {
    margin: 110px;
}

.index-index .jumbotron {
    background-color: inherit;
}

.subscribe-group #subscribe-email {
    color: #8b80a0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.subscribe-group #subscribe-email:focus, .subscribe-group #subscribe_button {
    box-shadow: none;
    border-color: #8b80a0;
    outline: none;
}

.subscribe-group #subscribe_button {
    background-color: #8b80a0;
    border: 1px solid #8b80a0;
    color: #ffffff;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

#subscribe-block {
    background-image: url("/img/subscribe_bg.png");
    background-size: cover;
    background-position: 0 60%;
}

#new-items {
    background-image: url("/img/new-items-background.png");
    background-size: cover;
    background-position: 0 60%;
    min-height: 600px;
}

.title {
    color: #64b400;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.new-big-item .short-description {
    font-size: 18px;;
}

.article-item {
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.article-body {
    padding: 1rem;
    text-align: center;
}

#filter-block .filters-items {
    border-radius: 10px;
    border-right: 1px solid #F3F4F5;
    border-bottom: 1px solid #F3F4F5;
}


#filter-block .filter-title-block {
    border: 1px solid #65b401;
    border-radius: 5px;
    padding: 5px 0px 5px;
    background: #65b401;
    color: #fff;
    font-weight: normal;
    margin-bottom: 10px;
}

#filter-block .filter-title-block h2 {
    margin: 0;
    padding: 3px 15px;
    font-size: 13px;
    font-weight: bold;
}

#filter-block .filter-item-value.marked {
    opacity: 1;
    transition: all .4s linear;
    display: block;
}

#filter-block .filter-item .filter-item-title {
    padding: 5px 10px 0px;
    margin-bottom: 5px;
    font-weight: 600;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

#filter-block .filter-item .filter-item-value {
    padding: 5px 10px 0px;
}

/*#filter-block .filter-item .custom-control-input:checked ~ .custom-control-label::before {*/
/*    color: #fff;*/
/*    border-color: #65b401;*/
/*    background-color: #65b401;*/
/*}*/
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #65b401;
    background-color: #65b401;
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(110, 180, 1, .25);
    border: none;
}

#filter-block .filter-item-value.marked.hide {
    display: none;
}

#filter-block .filter-item-value.marked.visible-hidden {
    opacity: 0;
}

#header-account-btn .user-avatar {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    max-width: 30px;
}

#header-account-btn .user-name {
    color: #666;
}

.header-sign a {
    padding: 0 15px;
}

.toast-wrapper {
    position: fixed;
    top: 5px;
    right: 5px;
}

.toast {
    width: 350px;
}

.toast-body {
    width: 325px;
    word-break: break-all;
}

.toast-progress {
    height: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 0;
}

.toast-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.toast-success .toast-progress{
    background: #155724;
}
.toast-error .toast-progress{
    background: #721c24;
}
.toast-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.toast-header{
    color: inherit;
    text-transform: capitalize;
    background-color: inherit;
}
/*#header-account-btn .btn-tc{*/
/*    padding: 0;*/
/*}*/
@media (min-width: 768px) {
    .container-lg {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .container-lg {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .container-lg {
        width: 1170px;
    }
}

@media (min-width: 1366px) {
    .container-lg {
        width: 1300px;
    }
}

@media (min-width: 1600px) {
    .container-lg {
        width: 1600px;
    }
}

@media (min-width: 1800px) {
    .container-lg {
        width: 1700px;
    }
}