
.feature-label {
    font-weight: 700;
}

.title {
    color: #64b400;
    font-weight: 700;
}

.preview-image-block {
    position: relative;
    height: 200px;
}
.preview-image-block:not(.not-image) span{
    color: white;
}
.add-recipe-preview-img .recipe-preview-img {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    max-height: 400px;
}

.add-recipe-preview-img {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FBF8F6;
    border: 1px solid #FBF8F6;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
}

.add-recipe-preview-img span {
    position: absolute;
}

.add-recipe-preview-img:hover span {
    color: #ff291f;
}

.hovered-red:hover {
    transition: .3s;
    color: #ff291f;
    cursor: pointer;
}

.add-recipe-part {
    cursor: pointer;
}

.prepare-time {
    min-height: 86px;
}

.prepare-time-block {
    display: none;
}

.btn-add-ingredient {

    border: 1px solid black;
    margin-bottom: 20px;
}

.delete-ingredient {
    cursor: pointer;
}

.recipe-block, .steps-block {
    margin: 10px 0;
    padding: 15px;
    background: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #e6dbdb;
    box-shadow: 0 2px 4px 0 #e6dbdb;
}
.category-item-title {
    position: absolute;
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    width: 100%;
    background-color: #686089BF;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.category-item:hover .category-item-title {
    background-color: #64b400;
}

#recipes-index {
    margin-bottom: 40px;
}

.category-title-block {
    position: relative;
    top: -43px;
}


/*recipes-list*/

#recipes .recipe-item {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 10px;
}

#recipes .recipe-meta-block .recipe-title {
    font-weight: bold;
}

#recipes .recipe-author-block .author-avatar {
    width: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.recipe-preview-img[src=""] {
    display: none;
}

.ingredient-item .weight-input, .ingredient-item .selectize-input {
    height: 35px;
}

.draggable{
    color: #ccc;
}
.draggable:hover {
    cursor: move;
}

.step-item {
    background-color: #ffffff;
    padding: 10px;

}
.step-item textarea{
    width: 100%;
    border-radius: 10px;
    border-color: #ccc;
    height: 150px;
    resize: none;
    padding: 10px;
}
.short .short-hide{
    display: none;
}
.dragging{
    box-shadow: rgb(230, 219, 219) 0px 2px 4px 0px;
}
.dragging .draggable{
    color: #ff0e0e;
}
.step-placeholder{
    /*background: #ccc;*/
    border: 3px dashed #ccc;
    margin: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}