textarea {
    resize: none;
}

textarea:placeholder-shown {
    background-color: #ffcbcc;
}
.translation-changed{
    color: #65b401;
}
.table-vcenter td, .table-vcenter th {
    vertical-align: middle;
}
.hidden{
    display: none;
}
#alert {
    display: none;
    position: fixed;
    top: 0;
    padding: 20px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    z-index: 100;
}

table .s-swtich label {
    width: 40%;
    height: 30px;
}

table .s-swtich label:after {
    width: 20px;
    height: 20px;
}
.tDnD_whileDrag{
    background: #c66e2d;
    font-weight: bold;
    box-shadow: 0 10px 10px -5px;
    border-radius: 5px;
}
table .position+i.drugHandler{
    font-size: 24px;
    cursor: move !important;
}
.alert-overwrite{
    font-weight: bold;
    font-size: 16px !important;
    text-align: center;
}